table, th, td {
    border: 1px solid black;
    background-color: grey;
    font-family: sans-serif, 'Times New Roman';
    
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    font-family: Helvetica, Tahoma, Trebuchet MS;
    font-size: 50px;
}
th{
    font-weight: bold;
    background-color: lightgrey;
}